{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'polls/css/styles.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Todo with Python and Django</title>
</head>
<body>
    <div class="content">
        <div class="content__title">Todo with Django</div>

        <form action="{% url 'actions_panel' %}" method="post">
            {% csrf_token %}

{#          CREATE DYNAMICALLY FORM WITH THESE ATTRIBUTES                #}

            <div class="content__panel mb-3"  role="toolbar" aria-label="Toolbar with button groups">
                <button id="delete_all_button" class="panel__button panel__button_deleteall btn btn-secondary btn-lg">Delete completed</button>

                <div class="content__selectall">
                    <button id="select_all" type="submit" class="CURRENTLY_VISIBLE">Select all</button>
                    <button id="deselect_all" type="submit" class="CURRENTLY_HIDDEN">Deselect all</button>
                </div>
            </div>
        </form>

        <form action="{% url 'add_item' %}" method="post" class="content__form form">
            {% csrf_token %}

            <div class="new-items-wrapper">
                <div class="form__group input-group input-group-lg">
                    {{ new_item_form }}
                </div>

                <dib class="btn-group">
    +                <button id="add_button" name="add_item" type="submit" class="form__button btn btn-primary btn-lg" >Add</button>
                 </dib>
            </div>
        </form>

        <div class="content__tabs tabs" role="tablist">
            <a id="all" class="tabs__link active" data-toggle="list" href="#" role="tab">All</a>
            <a id="completed" class="tabs__link" data-toggle="list" href="#" role="tab">Completed</a>
            <a id="not-completed"  class="tabs__link" data-toggle="list" href="#" role="tab">Not completed</a>
        </div>

{#    add form with method post, post for those that cause any change in db      #}
        <div class="content__group">
            <div class="content__tasks tasks">
                {% if task_list %}
                    <ul id="task_list" class="tasks__list">
                    {% for task in task_list %}
                        <li id="{{ task.id }}" class="tasks__item mb-3">
                            <div class="item__label input-group-prepend">
                                <form action="{% url 'delete_item' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="task_id" value="{{task.id}}" />
                                    <button type="submit" name="delete_item" class="item__delete btn btn-danger">Delete</button>
                                </form>

                                <form action="{% url 'change_item' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="task_id" value="{{task.id}}" />
                                    <button type="submit"
                                            {% if task.checked %} name="make_item_undone" {% else %} name="make_item_done" {% endif %}
                                            class="item__delete btn btn-danger">
                                    {% if task.checked %} X {% else %} V {% endif %}
                                    </button>
                                </form>
                            </div>

                            <div class="content__text + {% if task.checked %} content__text_done {% endif %}">
                                <div class="item__textwrapper">{{ task.input_text }}</div>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No items are available.</p>
                {% endif %}
            </div>

            <ul id="pagination_panel" class="content__pagination"></ul>

            <form action="" method="get">
                {% csrf_token %}
                <ul id="panel_counter" class="panel__counter list-group counter">
                    {% for tab_form in tab_switch_forms %}
                        <li>
{#                            <div id="counter_label_all" class=" counter__label">All:</div>#}
{#                            <div class="counter__value">0</div>#}
                            <div id="{{ tab_form.id }}"></div>
                            <div class="counter_label">{{ tab_form.count }}</div>
                        </li>

                    {% endfor %}
{#                        <li>#}
{#                            <div id="counter_label_checked" class=" counter__label">Checked:</div>#}
{#                            <div class="counter__value">0</div>#}
{#                        </li>#}
{#                        <li>#}
{#                            <div id="counter_label_unchecked" class=" counter__label">Unchecked:</div>#}
{#                            <div class="counter__value">0</div>#}
{#                        </li>#}
                </ul>
            </form>

        </div>
    </div>
</body>

<script src="{% static 'polls/libs/jquery.min.js' %}"></script>
<script src="{% static 'polls/libs/lodash.js' %}"></script>

{% block javascript %}
{% endblock %}

<script src="{% static 'polls/js/content.js' %}"></script>
</html>